html{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: rgba(0,0,0,0.7);
  line-height: 1.4;
}

h3{
  font-size: 1.3rem;
  font-weight: bold;
}

.italic{
  font-style: italic;
}

.blue{
  color: #399bd1;
}

/* Navigation Bar Styles */

.navbar-default .navbar-nav .active a{
  color: #399bd1;
  background-color: inherit;
}

.navbar-default .navbar-nav a{
  font-size: 1.1rem;
  font-weight: bold;
}


/*Jumbotron */

.jumbotron{
  background: url("../images/jumbotron-bike.jpg");
  padding-top: 11.85rem;
  padding-bottom: 11.85rem;
  position: relative;
  top: 50px;
  text-align: center;
  margin-bottom: 50px;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000,
  1px -1px 0 #000;

}

/* eader and paragraph styles */

.jumbotron h1{
  font-family: Monoton;
  font-size: 7.1rem;
}

/* Button Effects*/

.jumbotron .btn{
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  width: 11.4rem;
  padding: 1.3rem 0;
  margin-top: 2.8rem;
}

.jumbotron .btn:hover{
  box-shadow: 0 0 12px rgba(0,0,0,0.9);
}

.jumbotron .btn:active{
  box-shadow: 0 0 0 rgba(0,0,0,0.5);
}

/* Featured project section */

.featured-project h2{
  font-size: 1.7rem;
  font-weight: bold;
}

.image-container img{
  opacity: 0.7;
  width: 100%;
}

.categories{
  color: #757575;
}
